.gm-app-container {
  position: relative;
  top: 2px;
  margin-right: 3px;
  padding: 0 2px;
  display: inline-block;
  background: white;
  border: 1px solid #eee;
  width: max-content;
  cursor: pointer;
}

.gm-container {
  padding: 3px 1px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gm-wrapper {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gm-checkbox-icon,
.gm-heart-icon,
.gm-bookmark-icon {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.gm-checked,
.gm-favorite,
.gm-bookmark {
  padding: 2px 4px;
  color: whitesmoke;
}

.gm-checked {
  text-decoration: line-through;
  background: #cbe558;
}

.gm-favorite {
  background: #ff5e95;
}

.gm-bookmark {
  background: #4dcfe0;
}
