.gm-app-container {
  position: relative;
  top: 2px;
  margin-right: 3px;
  padding: 0 2px;
  display: inline-block;
  background: white;
  border: 2px solid #eee;
  width: max-content;
  border-radius: 2px;
  cursor: pointer;
}

.gm-container {
  padding: 3px 1px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gm-wrapper {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gm-checkbox {
  position: relative;
  top: -1px;
}

.gm-heart-icon,
.gm-bookmark-icon {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.gm-checked,
.gm-favorite,
.gm-bookmark {
  border-radius: 2px;
  padding: 1px 3px;
  color: whitesmoke;
}

.gm-checked {
  text-decoration: line-through;
  background: lightgrey;
}

.gm-favorite {
  background: tomato;
}

.gm-bookmark {
  background: lightgreen;
}
